<!DOCTYPE html>
<html lang='en'>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MARANASTI - MEMENTO MORI</title>
  MARANASTI - MEMENTO MORI

  <style>
    .crossed {
      /* Define the style for crossed buttons here */
      text-decoration: line-through;
      opacity: 0.5;
    }
  </style>
</head>

<body>
  <form action="/getGrid" method="GET">
    <br>
    <label for="age">Age:</label>
    <input type="number" name="age" autofocus>
    <label for="years">Years:</label>
    <input type="number" name="years">
    <input type="submit" value="Show Grid Now">
  </form>
  <br>
  {% block body %}{% endblock %}
</body>
</html>